<div class="'p-4">
  <button (click)="toggleTheme()" class="mb-4 px-4 bg-gray-200">
    Toggle Theme
  </button>

  <app-dashboard></app-dashboard>
  <!--     
    <app-user-form [theme]="currentTheme"></app-user-form>
    <app-contentcontainer></app-contentcontainer> -->
</div>
<!-- 
<nav>
  <a routerLink="/" class="mr-4">Home</a>
  <a routerLink="/form" class="mr-4">Form</a>
  <a routerLink="/content">Content</a>
</nav>

<router-outlet></router-outlet> -->

<!-- <router-outlet></router-outlet> -->
