<label for="framework">
  Favorite framework
  <input type="text" id="framework" [(ngModel)]="framework" />
</label>
{{ framework }}

<button (click)="showframework()">CLICK TO SEE THAT FRAMEWORK</button>

<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <label>
    Name
    <input type="text" formControlName="name" />
  </label>
  <label>
    Email
    <input type="text" formControlName="email" />
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
{{ profileForm.value.name }}
